.sectionBody {
    padding-left: 150px;
}

#title {
    font-size: 100px;
    -webkit-text-fill-color: black;
    margin-bottom: 10px;
}

.sectionBody .lists {
    display: inline-flex;
    margin-right: 30px;
}

.sectionBody .lists ul:before {
    content: attr(aria-label);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.sectionBody .lists ul {
    padding-left: 5px;
}

.sectionBody .lists ul li {
    margin-top: 10px;
}

.sectionBody h1 {
    background: linear-gradient(5deg, rgb(180, 94, 230), orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#experience .xp {
    margin-left: 20px;
    /* margin-right: 250px; */
}

/* #experience h2 {
    text-decoration: underline;
} */

#experience h2 span {
    color: red;
}

#experience h3 span {
    color: red;
}

#experience h3 {
    margin-right: 20px;
}

