.codeTitle {
    font-family: "Consolas";
    font-size: 20px;
}

.codeTitle::after {
    content: "█";
    color: #AAAAAA;
    /* animation: blink 1s infinite step-start; */
}

@keyframes blink {
    50% { opacity: 0; }
}
