#sprite-footer {
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

#sprite {
    float: left;
    height: 40px;
    width: 40px;

    /* 0.2s */
    animation: 0.2s run linear 1;
    animation-fill-mode: forwards;
}

@keyframes run {
    99% {
        transform: translateX(200vh);
    }
    100% {
        visibility: hidden;
    }
}

#message {
    display: inline-block;

    position: relative;
    left: -20px;
    top: 10px;

    /* 0.6s */
    animation: 0.6s appear 1;
    animation-fill-mode: forwards;
}

#copyright {
    /* float: right; */
    position: relative;
    right: -810px;
    top: 10px;
    padding-right: 10px;

    /* 0.6s */
    animation: 0.6s appear 1;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform-origin: initial;
    }
}
