.logoImage {
    border-radius: 15px;
    filter: contrast(50%) grayscale(100%);
    transition: all 0.5s ease;
}

.logoImage:hover {
    filter: contrast(1) grayscale(0%);
    transition: all 0.5s ease;
}
