#navbar {
    height: 100%;
    position: fixed;
    top: 0;
    padding: 0px;
    padding-left: 10px;
    margin-top: 0px;
    background-color: rbga(255, 255, 255, 0.5);
    font-size: 20px;
}

#navbar li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    left: -200;
    list-style: none;
    margin-top: 10px;
}

#navbar li:hover {
    color: red;
    cursor: pointer;
}

.icolink {
    margin-top: 3px;
    width: 27px;
    height: 27px;
    padding-left: 10px;
    padding-top: 5px;
}

.icolink .border {
    /* visibility: visible; */
    animation-fill-mode: forwards;

    position: relative;
    top: -37px;
    left: -3px;
    z-index: -1;

    /* background-color: red; */
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

.icolink img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /*filter : invert(1);*/
}

.icolink:hover .border{ 
    background: linear-gradient(0deg, rgb(180, 94, 230), orange);
    /*
    animation: highlight 1s;
    animation-fill-mode: forwards;
    */
}

@keyframes highlight {
    0% {
        transform: rotate(0deg);
        opacity: 0%;
        background: linear-gradient(0deg, rgb(180, 94, 230), orange);
    }
    100% {
        transform: rotate(180deg);
        background: linear-gradient(45deg, rgb(180, 94, 230), orange);
        opacity: 100%;
    }
}

#theme-switcher {
    opacity: 0;
    width: 0px;
    height: 0px;
}

#theme-toggle {
    font-size: 20px;
    color: white;
    font-style: bold;
    width: 70px;
    height: 35px;
    display: flex; 
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
}

#theme-toggle:before {
    content: "";
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    position: absolute;
    left: 15px;
    transition: 0.5s all ease;
}

#theme-switcher:checked + #theme-toggle {
    background-color: white;
    color: black;
    font-style: bold;
}

#theme-switcher:checked + #theme-toggle:before {
    background-color: black;
    transform: translateX(44px);
}